*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}
@media screen and (max-width: 480px) {
  body {
    background-color: #0a141d;
  }  
}
@media screen and (min-width: 481px) and (max-width: 980px) {
   body{
       background-color: aqua;
   } 
}

body { 
    background-color: white;
    padding: 2rem 4rem;
}



.header-container {
    margin: 12px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    margin:0 auto;
}

.ul-header{
    
    width: 600px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    

    
}
    
.anillo-home {
    width: 100%;
    display: flex;
    align-items: center;
}

.img-dos{
    width: 100vw;
    max-width: 100%;
}

.icono-header {
    height: 50px;
}

.icono-header:hover {
    transform: scale(2);
    transition: all 2s;

}

.body-productos{
    border: 45px 0px;
    border-color: #0a1a2a;
}

.img-productos{
    width: 30%;
}

.img-liongold{
    background-color: #0d2033;
}

.ul-header a{
    color: white;
    text-decoration: none;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}

ul{
    display: flex;
    flex-wrap: wrap;
}

header{
    display: flex;
    flex-wrap: wrap;
}

h1 {
    margin: 11px ;
     display: inline;
    color: darkgoldenrod; 
    background-color: black;
    border: gold;
    display: flex;
    justify-content: center;
}

.footer-social{
    width: 50px;
    justify-content: start;
    
    
}

.pie-pagina {
    width: 100%;
    background-color: #0a141d ;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 100px;
}

.pie-pagina .grupo-1 .box h2{
    color: aliceblue;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: cadetblue;
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: aliceblue;
}

.pie.pagina .grupo-2 small{
    font-size: 15px;
}

.contenedor-liongold{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;

}

.contenedor-liongold p {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.contenedor-productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
}
    
.contenedor-productos, p{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.section-ventas{
    width: 600px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.section-ventas, nav, ul{
    color: white;
    text-decoration: none;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.h2-Todos{
    margin: 11px ;
    display: inline;
    color: darkgoldenrod; 
    background-color: black;
    border: gold;
    display: flex;
    justify-content: center;

}














@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        -ms-grid-row-align: 30px;
        padding: 35px 0px;
    } 

    .img-dos{
       display: none;
    }

    .img-liongold{
        display: none;
    }
}
 