@import url("https://fonts.googleapis.com/css2? family= Montserrat:wght@300;400;700 & display=swap");
.header-container {
  margin: 12px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  margin: 0 auto;
}

.ul-header {
  width: 600px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.anillo-home {
  width: 100%;
  display: flex;
  align-items: center;
}

.img-dos {
  width: 100vw;
  max-width: 100%;
}

.icono-header {
  height: 50px;
}

.icono-header:hover {
  transform: scale(2);
  transition: all 2s;
}

.ul-header a {
  color: white;
  text-decoration: none;
  font-family: "Be Vietnam Pro", sans-serif;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

header {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  margin: 11px;
  display: inline;
  color: darkgoldenrod;
  background-color: black;
  border: gold;
  display: flex;
  justify-content: center;
}

.pie-pagina .box figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social {
  width: 50px;
  justify-content: start;
}

.pie-pagina {
  width: 100%;
  background-color: #0a141d;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 45px 0px;
}
.pie-pagina img {
  width: 100px;
}
.pie-pagina h2 {
  color: aliceblue;
  margin-bottom: 25px;
  font-size: 20px;
  font-family: "Be Vietnam Pro", sans-serif;
}
.pie-pagina p {
  color: #efefef;
  margin-bottom: 10px;
  font-family: "Be Vietnam Pro", sans-serif;
}
.pie-pagina .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .red-social a:hover {
  color: cadetblue;
}
.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: aliceblue;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-row-align: 30px;
    padding: 35px 0px;
  }

  .img-dos {
    display: none;
  }

  .img-liongold {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-contactos {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  min-height: 100vh;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.form {
  background-color: aliceblue;
  width: 90%;
  margin: auto;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em;
}

.form-container {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
}

.form-title {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 0.4em;
}

.form-input {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.8em 1em;
  outline: none;
  border: none;
  border: 1px solid gray;
  border-radius: 0.2em;
}

.form-input--message {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: 0.5em;
}

.form-cta {
  font-family: inherit;
  font-size: 1rem;
  background-color: #089FE0;
  color: aliceblue;
  border: none;
  font-weight: 300;
  padding: 0.7em 0;
  border-radius: 0.2em;
  font-weight: 600;
}

@media (max-width: 450px) {
  .form {
    padding: 3.5em 1em;
  }
}
.pie-pagina .box figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
